/* This is a comment in CSS */
body {
  font-family: Arial, sans-serif;
  font-size: 12px;
  color: rgb(75, 97, 117);
  flex-grow: 1;
  flex-shrink: 1;
  background: rgb(41, 40, 40);
  overflow-x: hidden;
  overflow-y: hidden;

  height: 100%;
  /* Add the missing semicolon here */
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);

  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by most browsers */

}

#blueSwitch {


  padding: 10px;
  background-color: rgb(36, 43, 48);
  box-shadow: 0 2px 10px rgb(29, 34, 38);
  border-radius: 10%;
  color: blueviolet;
  font-size: 30px;
}

.utility-panel {
  display: none;
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: center;
  justify-content: center;
  text-align: center;
  top: 50px;
  font-size: 10px;
  /* Adjust the top position as needed */
  right: 40px;
  /* Adjust the right position as needed */
  width: 200px;
  /* Adjust the width as needed */
  height: 80px;
  /* Adjust the height as needed */
  --background-color: rgb(36, 43, 48);
  background-color: rgb(36, 43, 48);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  /* Add border radius for rounded corners */

}

.widget {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.icon-label {
  display: flex;
  justify-content: space-between;
  /* Spread contents evenly */
  width: 80%;
  /* Ensure full width of the container */
}


.windowMenu {
  flex: 1;
  display: flex;
  width: 25px;
  height: 20%;
  background-color: blueviolet;
  border: 2px solid blueviolet;
  color: rgb(75, 97, 117);
  padding: -60px;
}

header {
  display: flex;
  position: relative;
  flex-direction: row;
  background-color: rgb(32, 37, 41);
  border-radius: 5px;
  margin-bottom: 2px;

}

#path {
  display: flex;
  flex-direction: row;
  height: 18px;
  margin-left: 10px;
}

#path:hover {
  --box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.navigate {
  display: flex;
  flex-direction: row;
  --box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);


}

.textBoxes {
  color: rgb(75, 97, 117);
  text-align: center;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);

}

.saveAlarm {
  left: 200px;
}

#Navigate {
  flex: 1;
  display: flex;
  margin-left: 110px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 1px;
}

.header-icons {
  font-size: 13px;

}

#userAccount {
  display: flex;
  flex-direction: row row-reverse;
  margin-bottom: 1px;
  flex: 1;
  gap: 25px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);

}

#formName {
  font-size: 14px;
  margin-left: 10px;

}

#Tip1 {
  font-size: 11px;
  margin: 10px;
  margin-top: -11px;
}


#panel1,
#panel5 {

  padding: 10px;

}

#panel3 {
  height: 50%;
  padding: 10px;
  box-shadow: 0 2px 10px rgb(29, 34, 38);
  border-radius: 5px;
  margin: 15px;

}

#panel0 {
  height: 100vh;
  margin: -10px;
  display: none;
  background: transparent;
  position: relative;

}

#panel1 {

  flex: 1;

  background-color: rgb(32, 37, 41);
}

.horizontal-line {

  margin: 20px;
  margin-left: 30px;
  width: 95%;
  left: 20px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.badges {
  display: flex;
  position: absolute;
  width: 5px;
  /* Adjust the thickness of the line */
  height: 5px;
  background-color: blueviolet;
  margin-top: -10px;
  ;
  left: 5%;
  border-radius: 10px;
  border: 2px solid blueviolet;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.menu-icons {
  position: absolute;
  left: -40px;
  top: -5px;
}


#panel2 {
  flex: 10;
  background-color: rgb(32, 37, 41);
  max-width: 150.3vb;

}



#panel3 {

  height: 95vh;
  display: flex;
  flex-direction: column;
  padding: 1px;
  background-color: rgb(36, 43, 48);
  --flex-grow: 1;
  --flex-shrink: 1;
  --max-width: 100vb;


}

#infoHUD {
  flex: 0.5;

}

#panel7 {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 10px;
  flex-grow: 1;
  flex-shrink: 1;

}

#panel4 {

  flex: 8.5;
  margin: 10px;
  max-height: 1%;
  max-height: 90vh;

}

#panel9 {
  display: flex;

  flex-direction: row;
  margin: 5px;
  --height: 460px;
  display: flex;
  overflow: hidden;
  /* Prevents content overflow */

  flex-shrink: 1;
  position: relative;

}



.subP {
  flex: 0 0 100%;
  display: flex;
  flex-direction: column;
  transition: transform 1.5s ease;
  background-color: rgb(36, 43, 48);
  --box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  column-gap: 30px;
  --overflow: hidden;
  --height: 110%;

}

#HOME {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.loader {
  margin: 40px;
  flex-grow: 1;
  flex-shrink: 1;
  background-color: rgb(36, 43, 48);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}



#chart_div,
#results {
  display: flex;
  flex-direction: row;
  font-size: 80px;
  height: 410%;
  margin: 20px;
  margin-left: 50px;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: rgb(36, 43, 48);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  overflow: auto;

}

.results0 {
  display: flex;
  flex-direction: row;
  height: 470px;
  margin: 20px;
  margin-left: 50px;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: rgb(36, 43, 48);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);

}

.searchResult0.grid-view {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, .5fr));
  grid-gap: 2px;
}

.questions.grid-view {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, .5fr));
  grid-gap: 2px;
}

#panel10 {


  background-color: rgb(36, 43, 48);

}


#panel5 {
  flex-grow: 1;
  flex-shrink: 1;

  display: flex;
  flex-direction: row;
  margin: 10px;
  margin-top: -30px;

  height: 35px;
  background-color: rgb(36, 43, 48);
  margin-bottom: -5px;
  border-radius: 5px;
}

.burger-menu {

  cursor: pointer;

}

.line {
  --flex-grow: 0.5;
  width: 50px;
  height: 5px;
  margin-top: -5px;
  background-color: rgb(36, 43, 48);
  margin: 5px 0;
  --margin-left: 5px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

#searchForm {
  flex: 13;
  flex-grow: 13;
  flex-shrink: 13;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: -5PX;
  border-radius: 5px;
  padding: 10px;
  border: none;
  font-size: 11px;
  background-color: rgb(36, 43, 48);
  color: gray;
  outline: none;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

#searchButton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  margin-top: -5px;
  padding: 10px;
  background-color: rgb(36, 43, 48);
  border: 0px;
  color: gray;
  transition: 0.5s;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}




.HUD {
  display: flex;
  --flex-direction: row;
  Margin: -5px;
  padding: -10px;

}

#customAlert {
  display: none;
  position: fixed;
  top: 90%;
  left: 60%;
  transform: translate(-50%, -50%);
  padding: 10px;
  background-color: rgb(36, 43, 48);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10%;
  z-index: 500;

}

.hud1 {
  flex-grow: 1;
  flex-shrink: 1;
  --padding: 5px;
  width: 10px;
  background-color: rgb(36, 43, 48);
  --border: 2px solid blueviolet;
  border-radius: 5px;
  --color: #d87a7a;
  transition: background-color 0.5s;
  --cursor: pointer;
  margin: 1%;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-top: 40px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  max-height: 70%;

}

.hud2 {
  flex-grow: 1;
  flex-shrink: 1;
  --padding: 25px;
  border: 2px solid blueviolet;
  border-radius: 3px;
  --color: #e0e0e0;
  transition: background-color 0.5s;
  --cursor: pointer;
  --margin-bottom: 10px;
}

#xcxc {
  z-index: 1001;
}

.hud1.configurator {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  background-color: rgb(36, 43, 48);
  position: relative;

  margin: 8px;
  padding: 50px;
  top: initial;
}


.sliders {
  flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  height: 3px;
  background-color: #3498db;
  margin-right: 50px;
  margin-left: 50px;

}

.sliders:hover {
  cursor: pointer;
}

.slider-group {
  top: initial;
}

.slider-group,
.slider-group0 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
  margin-left: 15%;
  margin-right: 10%;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  top: initial;
}

.slider-name {
  flex: .1;
  margin-top: 15px;
  padding-left: 120px;
  margin-left: -20%;

}

.perpendicular-line {
  display: flex;
  position: relative;
  width: 15px;
  /* Adjust the thickness of the line */
  height: 500%;
  background-color: blueviolet;
  margin-top: -10px;
  ;
  border-radius: 10px;
  border: 2px solid blueviolet;
  cursor: grab;

}

.perpendicular-line:hover,
.clickable-label:hover,
.appButton:hover,
.burger-menu:hover {
  scale: 1.1;
}

.hover-effect:hover {
  transform: scale(1.2);
  /* Apply scale transform on hover */
  cursor: pointer;
  /* Change cursor to pointer on hover for better user experience */
}

.slider-filler {
  flex: 1;
  position: relative;
  height: 3px;
  margin: 0px;
  background-color: blueviolet;
  cursor: pointer;
  flex-grow: 1;
  flex-shrink: 1;
}


#panel6 {
  height: 30px;
  background-color: rgb(56, 59, 61);
}

#footer-content {
  max-width: 100%;
  text-align: center;
}

#panel8 {
  flex: 0.5;
  display: flex;
  position: fixed;
  top: 95%;
  left: 43%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
  flex-grow: 1;
  flex-shrink: 1;
  flex: 1;
  height: 10px;
  padding: 1px;
  background-color: rgb(36, 43, 48);
}

#panel11 {
  flex-grow: 1;
  flex-shrink: 1;
  margin: 5px;

  overflow-x: hidden;
  /* Hide the scrollbar */
  --white-space: nowrap;
  display: flex;
  flex-direction: row;
  background-color: rgb(36, 43, 48);

}

.appButton {
  flex-grow: 1;
  flex-shrink: 1;
  max-width: 200px;
  padding: 10px;
  background-color: rgb(36, 43, 48);
  border-radius: 5px;
  transition: 0.5s;
  margin: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.appButton i {
  --margin-right: 10px;
  /* Adjust the spacing between the icon and text */
}

.appButton.highlighted,
.horizontal-line.highlighted {
  color: #3498db;
}

.accButton {
  background-color: blueviolet;
}

#Ax {
  left: 52%;
  margin-top: -15px;
  font-size: 16px;
}

#Ax.hud1.hover {
  --color: whitesmoke;
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
  background-color: rgb(36, 43, 48);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #888;
  /* Change the color of the thumb */
  border-radius: 5px;
  /* Add rounded corners to the thumb */
}

/* Style the scrollbar on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  /* Change the color of the thumb on hover */
}